.collection__img-block {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  width: 23.6%;
  border: 1px solid #ebebf1;
  border-radius: 5px;
}
.collection__img-block:hover {
  box-shadow: -3px 0px 40px rgba(0, 0, 0, 0.1),
    0px 0px 10px rgba(164, 164, 164, 0.03);
}
@media (max-width: 768px) {
  .collection__img-block {
    width: 31.5%;
  }
}
@media (max-width: 375px) {
  .collection__img-block {
    width: 100%;
  }
}
